* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	line-height: 24px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

div {
	margin: 10px inherit;
}

h1 {
	padding: 10px 0;
	margin: 10px 0;
	text-align: center;
	font-size: 150%;
	border: 1px dotted #444;
	background-color: #eee;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

ul {
	padding-left: 40px;
	list-style-type: none;
}

/* Gets rid of Mozilla's annoying outline of active/focused links. */
a:active, a:focus {
	outline: none;
}

a {
	color: #2364a6;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #2364a6;
}

a:active {
	position: relative;
	top: 1px;
}

#main {
	width: 800px;
	margin: 50px auto;
}

#main_heading {
	padding: 20px 0;
	margin: 50px 0;
	font-size: 200%;
}

.course .course_name:hover, #toggle_all h1:hover, .toggle_list:hover {
	background-color: #ddd;
	cursor: pointer;
}

.toggle_list:hover {
	background-color: #444;
	color: #fff;
}

.toggle_list {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	font-size: 12px;
	width: 12px;
	height: 12px;
	border: 1px solid #444;
	background-color: #eee;
	padding: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-right: 8px;
	margin-bottom: 4px;
}