* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 42px;
	line-height: 50px;
	color: #666;
}

/* Mozilla auto-includes borders around images embedded in links. */
a img {
	border: none;
}

/* Gets rid of Mozilla's annoying outline of active/focused links. */
a:active, a:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: #2364a6;
}

a:hover {
	border-bottom: 1px solid #2364a6;
}

a:active {
	position: relative;
	top: 1px;
}

#main {
	width: 1000px;
	margin: 100px auto;
	padding: 0px 100px;
}

.item {
	width: 1000px;
	height: 340px;
}

.item_sample {
	width: 440px;
	height: 340px;
	float: left;
}

.description {
	display: inline-block;	
	width: 500px;
	height: 340px;
	padding-left: 60px;
}

.item:not(:first-child) {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px dotted #2364a6;
}