* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #4a5155;
	background-image: url('../img/bg.png');
	background-repeat: repeat-x;
	background-position: 0 100px;
}

/* Gets rid of Mozilla's annoying outline of active/focused links. */
a:active, a:focus {
	outline: none;
}

#main {
	width: 800px;
	height: 350px;
	margin: 100px auto 0 auto;
}

#myname {
	width: 542px;
	height: 0;
	padding-top: 205px;
	background-image: url('../img/stefan_behr.png');
	background-repeat: no-repeat;
	background-position: 0 80px;
	margin: 0 auto 25px auto;
	overflow: hidden;
}

#contact {
	width: 258px;
	height: 40px;
	margin: 0 auto;	
}

#contact a {
	width: 76px;
	height: 0;
	padding-top: 40px;
	overflow: hidden;
	float: left;
	background-image: url('../img/contact_icons.png');
	background-repeat: no-repeat;
	background-position: 0 10px;
}

#contact #facebook {
	margin: 0 15px;
	background-position: -76px 10px;
}

#contact #twitter {
	background-position: -152px 10px;
}

/* Firefox doesn't implement background-position-x/y, so we'll do it old school. */

#contact #gmail:hover {
	background-position: 0 -30px;
}

#contact #facebook:hover {
	background-position: -76px -30px;
}

#contact #twitter:hover {
	background-position: -152px -30px;
}